// Color pacel

// primary colors
$P-orange:#E95420;
$P-white: #FFFFFF;
$P-black: #000000;

// support colors
$S-light-aubergine:#77216F;
$S-mid-aubergine:#5E2750;
$S-dark-aubergine: #2C001E;

// neutral colours
$N-warm-grey: #AEA79F;
$N-cool-grey: #333333;
$N-text-grey: #111111;

// caronical core colours
$C-canonnical-aubergine: #772953;
$C-white: #ffffff;

// ubuntu oragane tints
$T-orange-90: #EB6536;
$T-orange-80: #ED764D;
$T-orange-70: #F08763;
$T-orange-60: #F29879;
$T-orange-50: #F4AA90;
$T-orange-45: #F5B29B;
$T-orange-40: #F6BBA6;
$T-orange-35: #F7C3B1;
$T-orange-30: #F8CCBC;
$T-orange-25: #FAD4C7;
$T-orange-20: #FBDDD2;
$T-orange-15: #FCE5DE;
$T-orange-10: #FDEEE9;

// canonical aubergine tints
$T-canonical-aubergine-90: #843E64;
$T-canonical-aubergine-80: #925375;
$T-canonical-aubergine-70: #9F6986;
$T-canonical-aubergine-60: #AD7E97;
$T-canonical-aubergine-50: #BB94A9;
$T-canonical-aubergine-45: #C19EB1;
$T-canonical-aubergine-40: #C8A9BA;
$T-canonical-aubergine-35: #CFB4C2;
$T-canonical-aubergine-30: #D6BECB;
$T-canonical-aubergine-25: #DDC9D4;
$T-canonical-aubergine-20: #E3D4DC;
$T-canonical-aubergine-15: #EADEE5;
$T-canonical-aubergine-10: #F1E9ED;

//light aubergine tints
$T-light-aubergine-90: #84377D;
$T-light-aubergine-80: #924D8B;
$T-light-aubergine-70: #9F639A;
$T-light-aubergine-60: #AD79A8;
$T-light-aubergine-50: #BB90B7; 
$T-light-aubergine-45: #C19BBE;
$T-light-aubergine-40: #C8A6C5;
$T-light-aubergine-35: #CFB1CC;
$T-light-aubergine-30: #D6BCD3;
$T-light-aubergine-25: #DDC7DB;
$T-light-aubergine-20: #E3D2E2;
$T-light-aubergine-15: #EADDE9;
$T-light-aubergine-10: #F1E8F0;

// mid aubergine tints
$T-mid-aubergine-90: #6E3C61;
$T-mid-aubergine-80: #7E5273;
$T-mid-aubergine-70: #8E6784;
$T-mid-aubergine-60: #9E7D96;
$T-mid-aubergine-50: #AE93A7;
$T-mid-aubergine-45: #B69DB0;
$T-mid-aubergine-40: #BEA8B9;
$T-mid-aubergine-35: #C6B3C1;
$T-mid-aubergine-30: #CEBECA;
$T-mid-aubergine-25: #D6C9D3;
$T-mid-aubergine-20: #DED3DC;
$T-mid-aubergine-15: #E6DEE4;
$T-mid-aubergine-10: #EEE9ED;

//dark aubergine tints
$T-dark-aubergine-90: #411934;
$T-dark-aubergine-80: #56334B;
$T-dark-aubergine-70: #6B4C61;
$T-dark-aubergine-60: #806678;
$T-dark-aubergine-50: #957F8E;
$T-dark-aubergine-45: #A08C99;
$T-dark-aubergine-40: #AA99A5;
$T-dark-aubergine-35: #B5A5B0;
$T-dark-aubergine-30: #BFB2BB;
$T-dark-aubergine-25: #CABFC6;
$T-dark-aubergine-20: #D4CCD2;
$T-dark-aubergine-15: #DFD8DD;
$T-dark-aubergine-10: #E9E5E8;

//warm grey tints
$T-warm-grey-90: #B6AFA8;
$T-warm-grey-80: #BEB8B2;
$T-warm-grey-70: #C6C1BB;
$T-warm-grey-60: #CECAC5;
$T-warm-grey-50: #D6D3CF;
$T-warm-grey-45: #DAD7D3;
$T-warm-grey-40: #DEDBD8;
$T-warm-grey-35: #E2E0DD;
$T-warm-grey-30: #E6E4E2;
$T-warm-grey-25: #EAE9E7;
$T-warm-grey-20: #EEEDEB;
$T-warm-grey-15: #F2F1F0;
$T-warm-grey-10: #F6F6F5;